/* =============
    Facts
============= */
#facts img {
  position: relative;
  width: 100%;
 }

 #facts h4{
   padding-left: 12px;
   padding-right: 17px;
 }

 #facts p{
   padding-left: 40px;
   padding-right: 17px;
 }

#facts {
  padding-bottom: 29px;
}
