/* =============
   Intelligence
============= */
#intelligence h2{
padding-top: 30px;
padding-left: 47px;
padding-right: 47px;
text-align: center;
}

#intelligence p{
  padding-left: 47px;
  padding-right: 47px;
  text-align: justify;
  padding-bottom: 54px;
}

#intelligence {
  background-color: $lightgrey;
}
